* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 1440px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  background-color: transparent;
}


/* Responsive adjustments */
@media (max-width: 1024px) {

  /* Tablet screens */
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {

  /* Mobile screens */
  .container {
    width: 100%;
    padding: 0 8px;
  }
}



h2{
  font-size: 40px;
}

Button{
  padding: 10px;
  border-radius: 50px !important;
  border: 5px solid grey !important;
  /* color: black !important; */
  color: white !important;
  font-weight: 650 !important;
}

Button:hover{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.mui_icon{
  background-color: #4AC63F;
  border-radius: 50%;
  color: white;
  font-size: 30px !important;
}


